var docImage = function (docPath) {
  var lastIndex = docPath.lastIndexOf(".")
  var sfx = docPath.slice(lastIndex)
  if (sfx.match('pdf')) {
    return '/image/pdf.png'
  } else if (sfx.match('ppt')) {
    return '/image/ppt.png' 
  } else if (sfx.match('xls')) {
    return '/image/excel.png'
  } else if (sfx.match('doc')) {
    return '/image/word.png'
  }
}

var transform = function(locker) {
  if (locker) {
    return 'editor-locker color-lock iconfont icon-lock'
  } else {
    return 'editor-locker color-unlock iconfont icon-unlock'
  }
}
module.exports.docImage = docImage
module.exports.transform = transform